# Git
.git
.gitignore

# Dependencies
node_modules/

# Production builds and cache
dist/
dist-ssr/
.cache/
.vite/
.eslintcache

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.swp
*.swo

# Environment variables
.env
.env.*

# OS Files
.DS_Store
Thumbs.db
